body {
    font-family: "Arial", sans-serif;
    font-size: 16px;
}
section {
    text-align: center;
}
.speelvlak {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
}
.position {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px #333333;
    border: 1px solid #333333;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}

button {
    text-align: center ;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 15px 30px;
    width: 300px;
    margin-top: 50px;
}

.end-game {
    padding: 30px;
    width: 300px;
    box-sizing: border-box;
    margin-top: 15px;
    background-color: #333;
    color: #fff;
    border: 0;
    border-left: 10px solid #9E9E9E;
}